:root {
  /* font size */
  --small-font-size: 12px;
  --middle-font-size: 14px;
  --large-font-size: 16px;
  --xlarge-font-size: 18px;

  /* colors */
  --red-color: #ff0000;
  --black-color: #030203;
  --light-gray-color: #d6d5d6;
  --dark-gray-color: #606060;
  --blue-color: #0a5dce;
  --white-color: #ffffff;

  /* padding */
  --basic-blank: 12px;
}
body,
a,
li,
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--basic-blank);
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
}
header .logos {
  font-size: var(--xlarge-font-size);
  font-weight: bold;
}
header .logos > i {
  color: var(--red-color);
  padding-right: calc(var(--basic-blank) / 2);
}
header .icons i:nth-child(1) {
  margin-right: calc(var(--basic-blank) / 2);
}

/* videoPlayer */
.videoPlayer {
  background-color: var(--black-color);
}
.videoPlayer video {
  width: 100%;
  max-width: 1000px;
  height: 300px;
}

/* videoInfo  */

.videoInfo {
  padding: var(--basic-blank);
}
.videoInfo ul {
  display: flex;
  color: var(--blue-color);
  margin-bottom: calc(var(--basic-blank) / 2);
}
.videoInfo ul li {
  padding-right: var(--basic-blank);
  font-size: var(--small-font-size);
}

.videoInfo .videoTitle {
  font-size: var(--large-font-size);
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-start;
}

.videoInfo .videoTitle > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.videoInfo .videoTitle > span.upfold {
  display: block;
  -webkit-box-orient: vertical;
  overflow: none;
}
.videoInfo .videoTitle button.upfold i {
  transform: rotate(180deg);
}
.videoInfo .videoTitle i {
  padding-right: var(--basic-blank);
}
.videoInfo .videoMetaInfo {
  display: flex;
  color: var(--dark-gray-color);
  font-size: var(--small-font-size);
  padding-top: calc(var(--basic-blank) / 2);
}

.videoInfo .videoMetaInfo span {
  margin-right: calc(var(--basic-blank) / 2);
}

/* action buttons  */

.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--basic-blank);
}

.actions .actionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--large-font-size);
  color: var(--dark-gray-color);
}
.actions .actionItem i {
  margin-bottom: calc(var(--basic-blank) / 2);
}

.actions .actionItem.active i {
  color: var(--blue-color);
}

/* channelInfo And Subscribe */

.channelInfoAndSub {
  display: flex;
  justify-content: space-between;
  padding: var(--basic-blank);
  align-items: center;
  border-top: var(--light-gray-color) 1px solid;
  border-bottom: var(--light-gray-color) 1px solid;
}

.channelInfoAndSub .channelInfo {
  display: flex;
  align-items: center;
}
.channelInfoAndSub .channelInfo i {
  font-size: 40px;
  border-radius: 50%;
  margin-right: var(--basic-blank);
}
.channelInfoAndSub .channelInfo .name {
  font-size: var(--larget-font-size);
}
.channelInfoAndSub .channelInfo .subscribers {
  font-size: var(--small-font-size);
  color: var(--dark-gray-color);
}
.channelInfoAndSub .channelInfo .channelMetaInfo {
  display: flex;
  flex-direction: column;
}
.channelInfoAndSub .subscribeBtn {
  text-transform: uppercase;
  color: var(--red-color);
}
/* upNext video */
.upNext {
  padding: var(--basic-blank);
}

.upNext > span {
  font-size: var(--middle-font-size);
  color: var(--dark-gray-color);
}
.upNext .playList {
  margin: var(--basic-blank) 0;
}

.upNext .playList li {
  display: flex;
}
.upNext .playList video {
  flex: 1 1 30%;
  width: 100px;
  height: 100px;
}
.upNext .playList .nextInfo {
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
  margin-left: var(--basic-blank);
}
.upNext .playList .nextInfo .title {
  font-size: var(--middle-font-size);
  margin-bottom: calc(var(--basic-blank) / 2);
  color: var(--dark-gray-color);
}
.upNext .playList .nextInfo .detailInfo {
  font-size: var(--small-font-size);
  color: var(--light-gray-color);
}

.upNext .playList button {
  flex: 1 1 5%;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
}
/* media query */

@media screen and (min-width: 768px) {
  .bottomContainer {
    flex-direction: row;
  }
}
